@font-face {
    font-family: Balqis;
    src: url('/Balqis.ttf');
}

input[type=text],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical
}

input[type=submit] {
    background-color: rgb(128, 74, 141);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #cf635f;
}

.formular-container {
    border-radius: 5px;
    background-color: #ddfff7;
    padding: 20px;
}

.contact {
    border-bottom: 10px solid pink;
    border-style: groove;
    font-family: Dancing Script;
}

#country,
option {
    font-family: Balqis;
}

@media screen and (max-width: 992px) {
    .main-body {
        width: 99%;
    }
}


}
@media screen and (max-width: 600px) {
    .main-body {
        width: 90%;
    }
}
.escapeClass {
    background-color: grey;
    opacity: 0.5;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    overflow: hidden;
    position: fixed;
}
.form-group {
    color: rgba(255, 255, 255, 0.8);
    background: rgb(145, 92, 182);
    padding-left: 20px;
    padding-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: purple;
    color: white;
    transition: all 0.2s ease-in-out;
    border-radius: 4px;
    font-weight: normal;
    text-transform: uppercase;
    font-family: Alegreya;
}
.form-group:hover {
    color: rgba(255, 255, 255, 1);
    box-shadow: 0 5px 15px rgba(145, 92, 182, .4);
}
label {
    font-family: Dancing Script;
}
.main-body {
    background: url('cherry.png') no-repeat;
    background-position: top;
    background-size: 100%;
}